* { 
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    background: radial-gradient(
        circle at center,
        #11172f,  /* Dark navy with a hint of purple */
        #070317   /* Near-black indigo */
    );
    color: #f0f0f0;
    font-family: Montserrat,'Roboto Mono', monospace;
    font: 14px;
    margin: 10px;
    padding: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    border: 1px solid rgba(255,255,255,0.5);
    padding: 10px 20px;
    border-radius: 25px;
}

.nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.nav-button {
    color: #f0f0f0;
    text-decoration: none;
}

#name-nav {
    font-size: 1.1rem;
}